<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PDF</title>
    <style>

#container{
display:flex;
flex-wrap: wrap;
}

table, th, table td {
  border: 1px solid gray;
   width: 100%;
  border-collapse: collapse;
  vertical-align: bottom;
}
td {
  height: 20px;
  width: 20px;
  margin-left: 1em;
  vertical-align: middle;

}
</style>

</head>
<body>

<div>
    <br><b><h1><center>FISA DISCIPLINEI</center></h1>
    <p>1. Date despre program<p></b>
     

        <table>
        <tr>
        <td><b>1.1</b> Institutia de invatamant superior</td>
        <td>Arhitectura si Urbanism</td>
        </tr>
        <tr>
        <td><b>1.2</b> Facultatea / Departamentul</td>
        <td>Matematica</td>
        </tr>
        <tr>
        <td><b>1.3</b> Catedra</td>
        <td>- </td>
        </tr>
        <tr>
            <td><b>1.4</b> Domeniul de studii (denumire/cod)</td>
        <td>fwef / 121</td>
        </tr>
        <tr>
        <td><b>1.5</b> Ciclul de studii</td>
        <td>Licenta</td>
        </tr>
        <tr>
        <td><b>1.6</b> Programul de studii (denumire/cod)/Calificarea</td>
        <td>13fwef / 231 / Inginer</td>
        </tr>
    </table>

    <br><p><b>2. Date despre disciplina</b></p>
        <table>
            <tr>
                <td colspan="3"><b>2.1</b> Denumirea disciplinei</td>
                <td colspan="5">matematica </td>
            </tr>
            <tr>
                <td colspan="3"><b>2.2</b> Titularul activitatilor de curs</td>
                <td colspan="5">S.l. dr. arh. Anghel Andreea </td>
            </tr>
            <tr>
                <td colspan="3"><b>2.3</b> Titularul activitatilor aplicative</td>
                <td colspan="5">S.l. dr. arh. Anghel Andreea </td>
            </tr>
             <tr>
                 <td style="width:110%;"><b>2.4</b> Anul de stiudiu</td>
                 <td style="width:20%;">I</td>
                 <td style="width:80%;"><b>2.5</b> Semestru</td>

                 <td style="width:20%;">1</td>
                 <td style="width:110%;"><b>2.6</b> Tipul de evaluare</td>
                 <td style="width:20%;">ED</td>
                 <td style="width:110%;"><b>2.7</b> Regimul disciplinei</td>
                 <td style="width:40%;">Optional</td>
            </tr>
        </table>

    <br><p><b>3. Timpul total estimat</b> (ore pe semestru al activitatilor didactice)</p>
        <table>
            <tr>
                <td style="width:60%;"><b>3.1</b> Numar de ore pe saptamana</td>
                <td style="width:30%;">2 , din care: </td>
                <td style="width:30%;"><b>3.2</b> curs</td>
                <td style="width:20%;">2</td>
                <td style="width:70%;"><b>3.3</b> seminar/laborator/ proiect/practica</td>
                <td style="width:20%;">4</td>
            </tr>
            <tr>
                <td style="width:60%; "><b>3.4</b> Total ore din planul de invatamant</td>
                <td style="width:30%;">3 , din care: </td>
                <td style="width:30%;"><b>3.5</b> curs</td>
                <td style="width:20%;">3</td>
                <td style="width:70%;"><b>3.6</b> activitati aplicative</td>
                <td style="width:20%;">5</td>
            </tr>
            <tr>
                <td  colspan="5" style="width:60%;"><b>3.7</b> Distributia fondului de timp pentru activitati individuale asociate disciplinei</td>
                <td  colspan="1" style="width:30%;">ore</td>
            </tr>
            <tr>
                <td  colspan="5" style="width:60%;"> Studiul dupa manual, suport de curs, bibliografie si notite</td>
                <td  colspan="1" style="width:30%;">12</td>
            </tr>
            <tr>
                <td  colspan="5" style="width:60%;"> Documentare suplimentara in biblioteca, pe platformele electronice de specialitate si pe teren</td>
                <td  colspan="1" style="width:30%;">14</td>
            </tr>
            <tr>
                <td  colspan="5" style="width:60%;"> Pregatire seminarii/laboratoare, teme, referate, portofolii si eseuri</td>
                <td  colspan="1" style="width:30%;">15</td>
            </tr>
            <tr>
                <td  colspan="5" style="width:60%;"> Tutoriat</td>
                <td  colspan="1" style="width:30%;">17</td>
            </tr>
            <tr>
                <td  colspan="5" style="width:60%;"> Examinari</td>
                <td  colspan="1" style="width:30%;">17</td>
            </tr>
            <tr>
                <td  colspan="5" style="width:60%;"> Alte activitati </td>
                <td  colspan="1" style="width:30%;">4</td>
            </tr>
            <tr>
                <td  colspan="5" style="width:60%;background-color:Gainsboro;"><b> Total ore activitati individuale </b></td>
                <td  colspan="1" style="width:30%;background-color:Gainsboro;"></td>
            </tr>
            <tr>
                <td colspan="1" style="width:60%; background-color:Gainsboro;"><b>3.8 Total ore pe semestru </b></td>
                <td colspan="5" style="width:30%;background-color:Gainsboro;"></td>
            </tr>
            <tr>
                <td colspan="1" style="width:60%; background-color:Gainsboro;"><b>3.9 Numarul de credite </b></td>
                <td colspan="5" style="width:30%;background-color:Gainsboro;">12</td>
            </tr>
        </table>
    <br><p><b>4. Preconditii </b> (acolo unde este cazul)</p>
        <table>
            <tr>
                <td style="width:60%;"><b>4.1</b> de curriculum</td>
                <td >&bull; wef</td>
            </tr>
            <tr>
                <td style="width:60%;"><b>4.2</b> de competente</td>
                <td >&bull; efww</td>
            </tr>
        </table>

    <br><p><b>5. Conditii</b> (acolo unde este cazul))</p>
        <table>
            <tr>
                <td style="width:60%;"><b>5.1</b> de desfasurare a cursului</td>
                <td >&bull; ewf</td>
            </tr>
            <tr>
                <td style="width:60%;"><b>5.2</b> de desfasurare a activitatilor practice</td>
                <td >&bull; few</td>
            </tr>
        </table>
     <br><p><b>6. Competent e specifice acumulate</b></p>
    <table>
        <tr >
                <td style="width:30%;height: 50px; vertical-align: middle;background-color:Gainsboro;"> Competente profesionale</td>
                <td style="height: 100px; vertical-align: middle;background-color:Gainsboro;">&bull; wfe</td>
        </tr>
        <tr>
                <td style="width:30%;height: 100px; vertical-align: middle;background-color:Gainsboro; ">Competente transversale</td>
                <td style="height: 100px; vertical-align: middle;background-color:Gainsboro;">&bull; efwe</td>
        </tr>
    </table>
     <br><p><b>7. Obiectivele disciplinei</b>(reiesind din grila competentelor specifice acumulate)</p>
    <table>
        <tr>
            <td style="width:30%;height: 100px; vertical-align:middle;"><b>7.1</b> Obiectivul general al discipline</td>
            <td style="height: 100px; vertical-align:middle;">&bull; efw</td>
        </tr>
        <tr>
            <td style="width:30%;height: 100px; vertical-align:middle;"><b>7.2</b> Obiectivele specifice</td>
            <td style="height: 100px; vertical-align:middle;">&bull; fwe</td>
        </tr>
    </table>
    <br><p><b>8. Continuturi</b></p>
        <table>
            <tr>
            <td style="width:65%;"><b> 8.1</b> Curs</td>
            <td style="width:25%;margin-left: 5em;"> Numar de ore</td>
            <td style=" width:25%;margin-left: 4em;"> Metode de predare</td>
            </tr>
            <tr>
            <td style="width:65%;background-color:Gainsboro;"> wfe</td>
            <td style="width:25%;"> 14</td>
            <td  rowspan="14" style=" width:25%;vertical-align:middle;"> r3</td>
            </tr>
            <tr>
            <td style="width:65%;background-color:Gainsboro;">fwe</td>
            <td style="width:25%;"> 18</td>
            </tr>
            <tr>
            <td style="width:65%; background-color:Gainsboro;"> ef</td>
            <td style="width:25%;"> 3</td>
            </tr>
            <tr>
            <td style="width:65%;background-color:Gainsboro;">fw</td>
            <td style="width:25%;"> 10</td>
            </tr>
            <tr>
            <td style="width:65%;background-color:Gainsboro;">    </td>
            <td style="width:25%;"> 13</td>
            </tr>
            <tr>
            <td style="width:65%;background-color:Gainsboro;">  </td>
            <td style="width:25%;"> 17</td>
            </tr>
            <tr>
            <td style="width:65%;background-color:Gainsboro;">fwef</td>
            <td style="width:25%;"> 11</td>
            </tr>
            <tr>
            <td style="width:65%;background-color:Gainsboro;">32</td>
            <td style="width:25%;"> 15</td>
            </tr>
            <tr>
            <td style="width:65%;background-color:Gainsboro;">32r32</td>
            <td style="width:25%;"> 16</td>
            </tr>
            <tr>
            <td style="width:65%;background-color:Gainsboro;">32r</td>
            <td style="width:25%;"> 13</td>
            </tr>
            <tr>
            <td style="width:65%;background-color:Gainsboro;">r32r32</td>
            <td style="width:25%;"> 16</td>
            </tr>
            <tr>
            <td style="width:65%;background-color:Gainsboro;">r323</td>
            <td style="width:25%;"> 3</td>
            </tr>
            <tr>
            <td style="width:65%;background-color:Gainsboro;">3r2</td>
            <td style="width:25%;"> 14</td>
            </tr>
            <tr>
            <td style="width:65%;background-color:Gainsboro;">32r32</td>
            <td style="width:25%;"> 18</td>
            </tr>
            <tr>
            <td colspan="3" style="width:65%; height: 100px; background-color:Gainsboro;vertical-align:middle;">Bibliografie  32r32r</td>
            </tr>
        </table><br><br><br><br><br><br><br>
    <table>
            <tr>
            <td style="width:65%;"><b> 8.2</b> Activitati aplicative</td>
            <td style="width:25%;margin-left: 5em;"> Numar de ore</td>
            <td style=" width:25%;margin-left: 4em;"> Metode de predare</td>
            </tr>
            <tr>
            <td style="width:65%;background-color:Gainsboro;"> 23r</td>
            <td style="width:25%;"> 6</td>
            <td  rowspan="10" style=" width:25%;vertical-align:middle;"> None</td>
            </tr>
            <tr>
            <td style="width:65%;background-color:Gainsboro;">32r3</td>
            <td style="width:25%;"> 3</td>
            </tr>
            <tr>
            <td style="width:65%; background-color:Gainsboro;">23r32</td>
            <td style="width:25%;"> 4</td>
            </tr>
            <tr>
            <td style="width:65%;background-color:Gainsboro;">r32</td>
            <td style="width:25%;"> 6</td>
            </tr>
            <tr>
            <td style="width:65%;background-color:Gainsboro;">3r23r</td>
            <td style="width:25%;"> 4</td>
            </tr>
            <tr>
            <td style="width:65%;background-color:Gainsboro;">34t</td>
            <td style="width:25%;"> 12</td>
            </tr>
            <tr>
            <td style="width:65%;background-color:Gainsboro;">43t43</td>
            <td style="width:25%;"> 16</td>
            </tr>
            <tr>
            <td style="width:65%;background-color:Gainsboro;">43t4</td>
            <td style="width:25%;"> 15</td>
            </tr>
            <tr>
            <td style="width:65%;background-color:Gainsboro;">34t43</td>
            <td style="width:25%;"> 17</td>
            </tr>
            <tr>
            <td style="width:65%;background-color:Gainsboro;">t34</td>
            <td style="width:25%;"> 3</td>
            </tr>
            <tr>
            <td colspan="3" style="width:65%; height: 100px; background-color:Gainsboro;vertical-align:middle;">Bibliografie  None</td>
            </tr>
        </table>

        <br><p><b>9. Coroborarea continuturilor disciplinei cu asteptarile reprezentantilor comunitatii epistemice,sociatiilor profesionale si angajatori reprezentativi din domeniul aferent programului</b></p>
    <table>
        <tr>
            <td  style="height: 70px;vertical-align:middle;"> None</td>
        </tr>
    </table>
    <br><p><b>10. Evaluare</b></p>
    <table>
        <tr>
        <td style="margin-left: 5em;"> Tip activitate</td>
        <td ><b>10.1 </b> Criterii de evaluare</td>
        <td ><b>10.2 </b> Metode de evaluare</td>
        <td ><b>10.3 </b> Pondere din nota finala</td>
        </tr>
        <tr>
        <td ><b>10.4 </b> Curs</td>
        <td >34t</td>
        <td >tt43</td>
        <td >t3</td>
        </tr>
        <tr>
        <td ><b>10.5 </b> Curs</td>
        <td ><b>S: </b> 34t</td>
        <td >34t</td>
        <td >3t4</td>
        </tr>
        <tr>
        <td ><br></td>
        <td ><b>L: </b> t43</td>
        <td >34t34</td>
        <td >43t43</td>
        </tr>
        <tr>
        <td ><br></td>
        <td ><b>P: </b> 43</td>
        <td >gt</td>
        <td >htr</td>
        </tr>
        </tr>
        <tr>
         <td ><br></td>
        <td ><b>Pr: </b> ergre</td>
        <td >erg</td>
        <td >re</td>
        </tr>
        </tr>
    </table><br>

    <table style="border: 1px solid white">
        <tr>
        <td style="width:30%;height: 90px; border: 1px solid white;margin-left: 5em;"><b>Data completarii</b></td>
        <td style="width:30%;height: 90px; border: 1px solid white;margin-left: 5em;"><b>Titular de curs (semnatura)</b></td>
        <td style="width:30%;height: 90px; border: 1px solid white;margin-left: 5em;"><b>Titular activitati aplicative (semnatura)</b></td>
        </tr>
        <tr>
        <td style="width:30%;height: 50px; border: 1px solid white;vertical-align: middle;margin-left: 5em; ">  2005</td>
        <td style="width:30%;height: 50px; border: 1px solid white;vertical-align: middle;margin-left: 5em; ">  S.l. dr. arh. Anghel Andreea</td>
        <td style="width:30%;height: 50px; border: 1px solid white;vertical-align: middle;margin-left: 5em; ">  S.l. dr. arh. Anghel Andreea</td>
        </tr>
        <tr>
        <td style="width:50%;height: 90px; border: 1px solid white;margin-left: 5em;"><b>Director de departament (semnatura)</b></td>
        <td style="width:50%;height: 90px; border: 1px solid white;margin-left: 5em;"><b>Data avizarii in Consiliul Facultatii</b></td>
        <td style="width:60%;height: 90px; border: 1px solid white;margin-left: 5em;"><b>Decan (semnatura)</b></td>
        </tr>
        <tr>
        <td style="width:40%;height: 50px; border: 1px solid white;vertical-align: middle;margin-left: 5em;">As. dr. arh. Badescu Stefana</td>
        <td style="width:40%;height: 50px; border: 1px solid white;vertical-align: middle;margin-left: 5em;"></td>
        <td style="width:40%;height: 50px; border: 1px solid white;vertical-align: middle;margin-left: 5em;">Conf. dr. arh. Cristian BLIDARIU</td>
        </tr>

    </table>


    
</div>

</body>
</html>